@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-neutral-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

a {
  @apply text-rnny-primary-link;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

/* Masonry grid */
@media only screen and (min-width: 768px) {
  .masonry-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-auto-rows: 10px;
  }
}

/* Markdown styling */
.markdown h1 {
  @apply text-white;
  margin: 0 0 0.5rem;
  font-weight: 500;
  font-size: 2em;
}

.markdown h2 {
  @apply text-white;
  margin: 3rem 0 0.5rem;
  font-weight: 500;
  font-size: 1.8rem;
}

.markdown h3 {
  @apply text-white;
  margin: 3rem 0 0.5rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.markdown h4 {
  margin: 0.3rem 0;
  font-weight: 600;
  font-size: 1.1rem;
}

.markdown p {
  margin: 0 0 1.5rem 0;
}

.markdown pre,
.markdown ul,
.markdown ol,
.markdown p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.markdown ul,
.markdown ol {
  margin-left: 1.2rem;
  margin-bottom: 1.5rem;
}

.markdown ul {
  list-style: disc;
}

.markdown ol {
  list-style: decimal;
}

.markdown li {
  margin-bottom: 0.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.markdown li ul li {
  margin-bottom: 0;
}

.markdown a {
  @apply text-rnny-primary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.markdown > *:first-child {
  margin-top: 0;
}

.markdown li code,
.markdown p code {
  color: #ec4899;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: #eeeeee;
  padding: 2px 4px;
  border-radius: 0.25rem;
}

.dark .markdown li code,
.dark .markdown p code {
  background-color: #16171a;
}

.markdown blockquote {
  font-weight: 500;
  color: #222222;
  border-left-color: #e5e5e5;
  border-left-width: 0.25rem;
  quotes: '\201C''\201D''\2018''\2019';
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2.2rem;
  padding-left: 1rem;
}

.dark .markdown blockquote {
  color: #dddddd;
  border-left-color: #e5e5e5;
}

.markdown img {
  margin: 1rem auto;
}

/*
 *
 * Tags for resources
 */
.tag--react,
.tag--react-native {
  background-color: #2fa0c0;
}
.tag--typescript {
  background-color: #007acc;
}

.tag--node {
  background-color: #339933;
}

.tag--javascript {
  background-color: #b8a623;
}

.tag--html {
  background-color: #e34c26;
}

.tag--css {
  background-color: #264de4;
}

.tag--framer-motion {
  background-color: #ff008c;
}

.tag--git {
  background-color: #373737;
}

.tag--animations {
  background-color: #530671;
}

.tag--performance {
  background-color: #b24810;
}

.tag--nextjs {
  background-color: #000000;
}

.tag--threejs {
  background-color: #000000;
}

.button-toggle {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

/*
 *
 * Waves on homepage
 */
.waves {
  position: absolute;
  left: 0;
  width: 100%;
  margin-bottom: -7px; /*Fix for safari gap*/
  top: -40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*
 *
 * Shrinking for mobile
 */
@media (min-width: 768px) {
  .waves {
    top: -150px;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
  }
}

.social-icon {
  fill: #000;
}

.dark .social-icon {
  fill: #fff;
}

#wave1 {
  fill: rgba(220, 220, 220, 0.5);
}

#wave2 {
  fill: rgba(220, 220, 220, 0.28);
}

#wave3 {
  fill: rgba(220, 220, 220, 0.2);
}

#wave4 {
  fill: #fff;
}

.dark #wave1 {
  fill: rgba(50, 50, 50, 0.4);
}

.dark #wave2 {
  fill: rgba(50, 50, 50, 0.3);
}

.dark #wave3 {
  fill: rgba(50, 50, 50, 0.1);
}

.dark #wave4 {
  fill: #16181d;
}

/*
 *
 * Cubes on work
 */
.cube-wrapper {
  display: flex;
  grid-column: 1 / 3;
  overflow: hidden;
}

.cube-wrapper-right.l,
.cube-wrapper-left.l {
  perspective: 60em;
}

.cube-wrapper-rev,
.cube-wrapper-2 {
  width: 45rem;
  height: 12vw;
  position: relative;

  will-change: transform;
  transform-style: preserve-3d;
}

.cube-wrapper-rev.large,
.cube-wrapper-2.large {
  height: 30em;
  max-width: 600px;
}

.cube-face-front {
  z-index: 5;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  overflow: hidden;
  transform: translateZ(15em);
}

.cube-face-front.l {
  transform-style: preserve-3d;
  background-color: #0f1114;
  transform: translateZ(15em);
}

.inner-cube-marquee {
  height: 100%;
  grid-column-gap: 8em;
  color: #000;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
  padding-left: 4em;
  padding-right: 4em;
  display: flex;
  position: relative;

  will-change: transform;
  transform-style: preserve-3d;
}

.inner-cube-marquee-rev {
  height: 100%;
  grid-column-gap: 8em;
  color: #000;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
  padding-left: 4em;
  padding-right: 4em;
  display: flex;
  position: relative;

  will-change: transform;
  transform-style: preserve-3d;
}

.cube-face-2 {
  z-index: 4;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  background-color: #b6e627;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  overflow: hidden;
  transform: translateZ(-15em) rotateX(-90deg) rotateY(0) rotate(0);
}

.cube-face-2.l {
  transform-style: preserve-3d;
  background-color: #e0e0e0;
  transform: translateZ(-15em) rotateX(-90deg) rotateY(0) rotate(0);
}

.cube-face-back {
  z-index: 3;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  background-color: #9fca1f;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  overflow: hidden;
  transform: translate3d(0, -30em, 15em) rotateX(90deg) rotateY(0) rotate(0);
}

.cube-face-back.l {
  transform-style: preserve-3d;
  background-color: #e4e4e4;
  transform: translate3d(0, -30em, 15em) rotateX(90deg) rotateY(0) rotate(0);
}

.cube-face-4 {
  z-index: 2;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  background-color: #b4e7f1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  overflow: hidden;
  transform: translate3d(0, -30em, -15em) rotateX(180deg) rotateY(0) rotate(0);
}

.cube-face-4.l {
  transform-style: preserve-3d;
  background-color: #f0f0f0;
  transform: translate3d(0, -30em, -15em) rotateX(180deg) rotateY(0) rotate(0);
}

.text-block-2-copy {
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 8vw;
  font-weight: 600;
  line-height: 0.8;
}

.cube-wrapper-right {
  height: 100%;
  perspective: 1250px;
  perspective-origin: 0%;
  flex-direction: column;
  justify-content: center;
  padding-right: 3em;
  display: flex;
  position: relative;
}

.cover-image-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: flex-start;
}
