.motion-card {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0;
  border-radius: inherit;
  mask-image: radial-gradient(circle at center, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgb(255, 255, 255) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: linear-gradient(to right, rgb(32, 45, 46), rgb(48, 52, 40));
  border: 1px solid rgba(255, 255, 255, 0.2);
}
