.tag {
  &--react,
  &--react-native {
    background-color: #2fa0c0;
  }

  &--typescript {
    background-color: #007acc;
  }

  &--node {
    background-color: #339933;
  }

  &--javascript {
    background-color: #b8a623;
  }

  &--html {
    background-color: #e34c26;
  }

  &--css {
    background-color: #264de4;
  }

  &--framer-motion {
    background-color: #ff008c;
  }

  &--git {
    background-color: #373737;
  }

  &--animations {
    background-color: #530671;
  }

  &--performance {
    background-color: #b24810;
  }

  &--nextjs {
    background-color: #000000;
  }

  &--threejs {
    background-color: #000000;
  }
}

.button-dark-mode {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
